*{
    margin: 0;
}

.espaco{
    position: relative;
    height: 100vh;
    
    background-image: url(../imagens/espaco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.astronauta{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 150px;
    width: 150px;
    
    background-image: url(../imagens/astronauta.png);
    background-size: contain;
    background-repeat: no-repeat;
}